nav {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

ul {
	
	color: black;
}

li {
	padding: 0.5em;
	display: inline;
	color: #ffffff;
	
}

a:visited {
	color: #ffe4e1;
}

a:link {
	text-decoration: none;
}


.katy {
	color: #ffffff;
	padding: 5px;
	font-size: 25px;
}

.aspire {
	color: #ffe4e1;
}

p {
	font-size: 15px;
}