nav {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	color: #ffe4e1;
}

li {
	padding: 0.5em;
	display: inline;
	color: #ffe4e1;
}

li a {
	color: #ffe4e1;
}
a:visited {
	color: #ffe4e1;
}

a:link {
	text-decoration: none;
}