* {
	box-sizing: border-box;
}

body {
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-family: Raleway;
	src: url("raleway");
	background: linear-gradient(to bottom,
		#986960 0%,
		#986960 70%,
		#ffffff 70%,
		#ffffff 100%
		);
}

.backUP {
	order: 1;
	font-size: 3.1rem;
}

.aspire {
	color: #ffe4e1;
}

/* main section */

.contain {
	padding: 3.75rem;
}

img {
	width: 100%;
	border-radius: 5%;
	opacity: 88%;
}


.about {
	display: flex;
    color: white;
}

section > div {
	padding: 1.85rem;
}

/* projects */

h2 {
	font-weight: bolder;
}

.project-text {
	color: #986960;
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 3.1rem;
}

article > h1 {
	color: #ffffff;
	font-size: 3.2rem;
	padding-bottom: 2.5rem;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.one-img {
    padding: 0 1.25rem 1rem 1.25rem;
    height: 20rem;
    width: 20rem;
}

p {
	color: #000000;
	text-align: center;
	font-weight: bold;
}

a {
	color: #986960;
	text-decoration: none;
}
 
.contact-list {
	text-align: center;
	padding-top: 4.15rem;
	font-size: 2rem;
	color: #986960;

}

.contactText {
	color: #986960;
}

.topText {
	color: #986960;
    text-align: center;
}

.footer {
	text-align: center;
	color: #ffe4e1;
	height: 1.5rem;
	padding: 2.1rem;
	background-color: #986960;
}