* {
	box-sizing: border-box;
}

body {
	background-color: #986960;
	font-family: 'Raleway', sans-serif;
	font-family: Raleway;
	src: url("raleway");
	background: linear-gradient(to bottom,
		#986960 0%,
		#986960 80%,
		#ffffff 80%,
		#ffffff 100%
		);
}

nav {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	color: #ffe4e1;
}


li {
	padding: 0.5em;
	display: inline;
	color: #ffe4e1;
	
}


.katy {
	order: 1;
	font-size: 25px;
	color: #ffe4e1;
}

.aspire {
	color: #ffe4e1;
}

p {
	font-size: 15px;
}

.contain {
	padding: 60px;
}

img {
	width: 100%;
	border-radius: 5%;
	opacity: 88%;
}


.main-text {
	font-weight: bold;
	color: #ffe4e1;
	font-size: 30px;
	position: absolute;
	bottom: 60%;
}

.second-text {
	color: #ffe4e1;
	position: absolute;
	left: 10px;
	bottom: 57%;
}

.about {
	display: flex;
	
	
	color: white;
}

.item {
	flex-grow: 3; /* might need to set a width for child elements */
}

.container > img {
	width: 400px;
	height: 300px;
	display: inline-block;
}


h1 {
	color: #ffffff;
	padding: 10px;
}

.conainer > div {
	
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 0 10% 0 10%;
}
 
ul {
	padding: 10px;
	align-items: center;
	margin: auto;
}
.contact-list {
	color: #986960;
}

footer {
	margin: 10px;
	color: #999;
	padding: 5px;
}